<div class="profile col-md-6 text-center col-lg">
    <img class="profile-img" src="./images/user.png" />
    <div class="profile-info">
        <p>Username: <small>username</small></p>
        <p class="infoType">Wished 0 treks =)</p>
        <p>Everest Base Camp</p>
        <p>Langtang and Gosainkund</p>
        <p>No treks</p>
    </div>
</div>